@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Colors */
$elements-color: #266fff;
$bg-color: #fffefe;
$text-color: #191a1c;
$ff-main: 'Play', sans-serif;

@mixin font($sz, $w, $clr) {
    font-size: $sz;
    font-weight: $w;
    color: $clr;
    text-decoration: none;
}

/* Basic settings */
html {
    font-size: 10px;
}

body {
    font-family: $ff-main;
    background-color: $bg-color;
}

.button {
    @include font(1.2em, 600, $bg-color);
    background-color: $elements-color;
    padding: 1rem 2rem;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
        background-color: lighten($elements-color, 35%);
        color: $elements-color;
        border: 2px solid $elements-color;
        padding: 0.8rem 1.8rem;
    }
}

/* Typography */ 
section {
    padding: 10rem 0;
}

/* main */ 
main {
    height: 100vh;
    background: #fff url(../img/main-background.jpeg) center center no-repeat;
    background-size: cover;
    padding: 3rem 0;
    .main__content {
        margin-top: 15rem;
        .main__title {
            h1{
                @include font(3.7em, 600, $elements-color);
                text-transform: uppercase;
                line-height: 1.2;
            }
            .main__subtitle {
                margin-top: 4rem;
                @include font(2.5em, 400, $elements-color);
            }
            span {
                margin-top: 10rem;
                @include font(2em, 400, $bg-color);
                display: inline-block;
                padding: 2rem 3rem;
                background-color: $elements-color;
                text-align: center;
            }
        }
        .contact-form {
            background-color: #fff;
            text-align: center;
            border: 2px solid $elements-color;
            border-radius: 1.5rem;
            padding: 4rem 3rem;
            &__title {
                @include font(2em, 400, $elements-color);
                line-height: 1.5;
                margin-bottom: 5rem;
            }
            &__input {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3rem;
                label {
                    @include font(1.3em, 400, $elements-color);
                    display: inline-block;
                    background-color: $bg-color;
                    position: absolute;
                    transform: translateY(-50%);
                    padding: 0 0.5rem;
                    z-index: 1;
                }
                input {
                    @include font(1.8em, 400, $elements-color);
                    padding-top: 1rem;
                    border: 1px solid $elements-color;
                }
            }
            &__button{
                margin-top: 5rem;
            }
        }
    }
}

.logo {
    height: 7rem;
    img {
        width: 100%;
        height: 100%;   
        object-fit: contain;
    }
}

.phone-link {
    @include font(2.2em, 600, $elements-color);
    &:hover {
        color: $bg-color;
        -webkit-text-stroke: 0.1rem $elements-color;
    }
}

@media (max-width: 991px) {

}
