/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.button {
  background-color: #266fff;
  color: #fffefe;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fffefe;
  color: #266fff;
  border: 1px solid #266fff;
  padding: 0.9rem 1.9rem;
}

/* Typography */
section {
  padding: 10rem 0;
}

/* main */
main {
  padding: 3rem 0;
}

.header {
  max-height: 7rem;
}
.header.logo {
  max-height: 7rem;
}

.phone-link {
  color: #266fff;
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
  height: 7rem;
  line-height: 7rem;
}
.phone-link:hover {
  color: #fffefe;
  -webkit-text-stroke: 0.08rem #266fff;
}